* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #2d2d2d;
}
img {
  vertical-align: bottom;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
.hb {
  vertical-align: top;
  padding: 1.5em;
  background-color: #fff;
  border-right: 1px solid #ddd;
}
.hb__title {
  font-size: 22px;
  display: block;
  margin: 1em 0 1em;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  color: #03b5e5;
}
.hb__count {
  font-size: 20px;
  display: block;
  width: 62px;
  height: 62px;
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: #2ecbf5;
  border-radius: 50%;
}
.hb__thumb > img {
  border-radius: 50%;
}
.hb__desc {
  padding: 0.7em;
  background-color: #f0faff;
  border: 1px solid #b9e8ff;
  border-radius: 3px;
  font-size: 15px;
}
.hb__body {
  font-size: 15px;
}
.hb__creator {
  font-size: 18px;
}
.meta {
  font-size: 15px;
  overflow: hidden;
}
.meta__item {
  float: left;
  margin-right: 0.5em;
  line-height: 62px;
  display: block;
}
.meta > ul > .meta__item {
  float: none;
  line-height: 2;
}
.meta ul {
  display: inline-block;
  margin-left: 0.5em;
}
@media (min-width: 920px) {
  .hb {
    width: 48%;
    height: 500px;
  }
}
@media (min-width: 1820px) {
  .hb {
    width: 25%;
  
}
}
