* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #2d2d2d;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
img {
  vertical-align: bottom;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0;
}
.main {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
.header__title {
  text-align: center;
}
.hb {
  position: relative;
  width: 100%;
  padding: 2.4em 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.hb.with-body:after {
  position: absolute;
  top: 4em;
  right: 0;
  width: 1em;
  height: 1em;
  background-color: #bbe9f3;
  content: '';
  border-radius: 50%;
}
.hb__title {
  font-size: 22px;
  display: inline-block;
  margin-top: 1em;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  color: #03b5e5;
}
.hb__count {
  font-size: 20px;
  display: block;
  width: 62px;
  height: 62px;
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: #2ecbf5;
  border-radius: 50%;
  cursor: pointer;
}
.hb__thumb > img {
  border-radius: 50%;
  border: 1px solid #b9b9b9;
}
.hb__desc {
  padding: 0.9em;
  margin: 1.5em 0 0;
  background-color: #f0faff;
  border: 1px solid #b9e8ff;
  border-radius: 3px;
  font-size: 15px;
}
.hb__body {
  font-size: 15px;
  height: 0;
  line-height: 1.7;
  margin-top: 1em;
  opacity: 0;
  transition: .5s;
  transition-property: height, opacity;
}
.hb__body.active {
  height: 100%;
  opacity: 1;
}
.hb__creator {
  font-size: 18px;
}
.meta {
  font-size: 15px;
  overflow: hidden;
}
.meta__item {
  float: left;
  margin-right: 0.5em;
  line-height: 62px;
  display: block;
}
.meta > ul > .meta__item {
  float: none;
  line-height: 2;
}
.meta ul {
  display: inline-block;
  margin-left: 0.5em;
}
@media (min-width: 46em) {
  .main {
    width: 46em;
  }
}
@media (min-width: 1820px) {
}
