{{#each this}}
  {{#if comment}}
    <div class="hbc">
      <ul class="hbc__meta">
        <li class="img">
          <img src="http://cdn1.www.st-hatena.com/users/ko/{{user}}/profile.gif" />
        </li>
        <li class="user">{{user}}</li>
        <li class="times">{{timestamp}}</li>
      </ul>
      <p class="hbc__body">{{comment}}</p>
    </div>
  {{/if}}
{{/each}}
