$width-body: 42em;
$width-thumb: 57px;

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #2d2d2d;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: bottom;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0;
}


.main {
  width: $width-body;
  margin: 0 auto;
  border-collapse: collapse;
}

.header {
  width: $width-body;
  margin: 0 auto;
  &__title {
    text-align: center;
  }
}

.hb {
  position: relative;
  padding: 1.3em 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  &__wrap {
    margin-left: 76px;
  }
  &.with-body:after {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    width: 0.3em;
    height: 0.3em;
    background-color: #fff;
    content: '';
    border-radius: 50%;
  }
  &__header {
    color: #7B7B7B;
    font-size: 14px;
  }
  &__user {
    position: relative;
    margin: 0 0.6em 0 0;
  }
  &__date {
    margin: 0;
  }
  &__title {
    font-size: 1.2em;
    display: inline-block;
    line-height: 1.2;
    font-weight: bold;
    text-decoration: none;
    color: #03b5e5;
  }
  &__count {
    font-size: 16px;
    font-weight: 100;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: #2ecbf5;
    border-radius: 3px;
    cursor: pointer;
  }
  &__thumb {
    float: left;
    margin-left: ( $width-thumb * -1 - 20px );
    width: $width-thumb;
    height: auto;
    border-radius: 50%;
  }
  &__desc {
    padding: 0.5em 1em;
    margin: 1em 0 0;
    background-color: #f0faff;
    border: 1px solid #b9e8ff;
    border-radius: 3px;
    font-size: 15px;
    line-height: 1.8;
  }
  &__body {
    height: 0;
    margin-bottom: -0.5em;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0;
    transition: 0.5s;
    transition-property: height, opacity;
    &.active {
      height: 100%;
      margin-bottom: 0;
      opacity: 1;
    }
  }
  &__footer {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.meta {
  font-size: 15px;
  overflow: hidden;
  &__item {
    float: left;
    margin-right: 0.5em;
    line-height: 62px;
    display: block;
  }
  & > ul > .meta__item {
    float: none;
    line-height: 2;
  }
  & ul {
    display: inline-block;
    margin-left: 0.5em;
  }
}

.cmts {
  position: absolute;
  left: calc((100vw - #{$width-body}) / 2 + #{$width-body} + 2em);
  width: 22em;
  &__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(60vh);
    padding-right: 0.5em;
    margin-top: -0.3em;
    & + .cmts__close {
      display: block;
    }
  }
  &__close {
    display: none;
    position: absolute;
    top: -2.5em;
    left: -0.5em;
    height: 2em;
    width: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #000;
      width: 1px;
      height: 1.5em;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.hbc {
  margin-bottom: 0.8em;
  font-size: 12px;
  &__meta {
    overflow: hidden;
    color: #b5b5b5;
    & > li {
      float: left;
      margin-right: 1em;
    }
  }
  &__body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.date {
  text-align: center;
  &__pick {
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
  }
  &__btn {
    background-color: #24BFED;
    color: #fff;
    border: none;
    font-size: 12px;
    line-height: 1;
    padding: 0.7em 1.2em;
    cursor: pointer;
  }
}
